public-f net.minecraft.world.entity.Display$ItemDisplay f_268455_ # DATA_ITEM_STACK_ID
public-f net.minecraft.world.entity.Display$ItemDisplay f_268601_ # DATA_ITEM_DISPLAY_ID
public net.minecraft.world.entity.Display m_267080_(Lcom/mojang/math/Transformation;)V # setTransformation

# Biome spawn fix - access transformers for chunk generator and biome source
public-f net.minecraft.world.level.chunk.ChunkGenerator f_62137_ # biomeSource
public-f net.minecraft.world.level.chunk.ChunkGenerator f_223020_ # featuresPerStep
public-f net.minecraft.world.level.chunk.ChunkGenerator f_223021_ # generationSettingsGetter
public net.minecraft.world.level.biome.MultiNoiseBiomeSource m_274409_()Lnet/minecraft/world/level/biome/Climate$ParameterList; # parameters
